<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/singleUser.css" />
    <title>User Profile</title>
  </head>
  <body>
    <div class="container">
      <h1>User Profile</h1>
      <div class="user-info">
        <label for="name">Name:</label>
        <p id="name"><%=user.name%></p>
        <br />

        <label for="email">Email:</label>
        <p id="email"><%=user.email%></p>
        <br />
        <label for="bio">Bio:</label>
        <p id="bio"><%=user.bio%></p>
        <br />
        <label for="hobbies">Hobbies:</label>
        <p id="hobbies"><%=user.hobbies%></p>
      </div>

      <div class="buttons">
        <a href="/users/edit/<%=user.id%>" id="edit-btn">Edit User</a>
        <a href="/users/delete/<%=user.id%>" id="delete-btn">Delete User</a>
        <a href="/users">List Users</a>
      </div>
    </div>
  </body>
</html>
